<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7RrO3OKv155IDGUJowdUD4UkJ1z9Mpuc</string>
	<key>GCM_SENDER_ID</key>
	<string>645805877627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohand.herafi</string>
	<key>PROJECT_ID</key>
	<string>herrfi-bd37c</string>
	<key>STORAGE_BUCKET</key>
	<string>herrfi-bd37c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645805877627:ios:69060c32f057bc883575de</string>
</dict>
</plist>